
ul {
List-style-type:none;
  text-align: right;
}
pre {
  text-align: right;
}
.login-button {
  text-align: left;
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
p1 {
  text-align: left;
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

