
ul {
List-style-type:none;
  text-align: right;
}
pre {
  text-align: right;
}
.login-button {
  text-align: left;
}
p1 {
  text-align: left;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
