{% extends "layout.html" %}

{% set active_page = "Page 2" %}

{% block title %}Page2{% endblock %}

{% block content %}
 <ul id="sign">
 <li> Signed in: {{ session['firstName'] }} {{ session['lastName'] }} </li>
 </ul>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<p>FORUM</p>
 <div id="footer">
  
 <a href="/startOver">Sign Out</a>
{% endblock %}
